//fonts & colors
$bg-primary: #000000;
$bg-second: #222222;
$bg-accent: linear-gradient(90.17deg, #9D08E2 0.18%, #E42499 80.47%);
$font-color-primary: #FFFFFF;
$font-color-titles: -webkit-linear-gradient(90.17deg, #9D08E2 0.18%, #E42499 80.47%);
$font-family-primary: 'Inter';

// padding & margins
$small-p: 1rem;
$small-m: 1rem;
$medium-p: 2rem;
$medium-m: 2rem;
$big-p: 3rem;
$big-m: 3rem;